body {
    padding-left: 0em;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: whitesmoke }
*.warning {
        color: red;
        }

a:link { color: blue; }         
a:visited { color: purple; }    
a:hover { background: yellow; }  
a:active { color: lime; } 

P {
    font-size : 12pt;     
    font-family : arial,helvetica;
    font-weight : normal;
   }
p.centro {
    text-align: center;
}
P.small {
    font-size : 8pt;     
    font-family : arial,helvetica;
    font-weight : normal;
   }    
P.smallCentrada {
    font-size : 8pt;     
    font-family : arial,helvetica;
    font-weight : normal;
    text-align: center;
   }    
p.medianacursiva{
    font-size : 10pt;     
    font-family : arial,helvetica;
    font-weight : italic;
}
H1 {        
    font-size : 36pt;    
    font-family : verdana,arial;
    text-align : center;
    background-color : wheat;
    }
        
TD {
    font-size : 10pt;
    font-family : verdana,arial;
    text-align : center;
    background-color : 666666;
    }
/*address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }*/